autopep8
jupyter
pandas
docker
namedlist
matplotlib
flask
flask-cors
openai
azure-identity
azure-keyvault-secrets
python-dotenv
vega_datasets
litellm
-e . #also need to install data formulator itself
aiohttp>=3.13.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability